# Node/JS dependencies
node_modules/
apps/mobile/node_modules/

# Lockfiles & manifests (mobile)
apps/mobile/package-lock.json
apps/mobile/package.json


# Env files & local secrets
.env
.env.*
apps/mobile/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
web-build/
android/
ios/

# IDE & OS
.DS_Store
.vscode/
